.wrap_content{
	width: 1200px;
    margin: 50px auto;
}
.list_wrap{
    background: none #fbfbfb;
    width: 1100px;
}
#list{
	list-style: none;
	padding: 0;
}

#list li{
	display: inline-block;
    position: relative;
	padding: 10px 0 10px;
}
#title{
	width: 40px;
    font-weight: bold;
    margin-left: 20px;
}
#title_detail{
	width: 540px;
	
}
#date{
	width: 60px;
    font-weight: bold;
}
#date_detail{
	width: 80px;
}
#name{
	width: 60px;
    font-weight: bold;
}
#name_detail{
	width: 210px;
}
.content_wrap{
	width:1050px;
	min-height: 200px;
    padding: 30px 20px;
}
#content_detail{
	width: 1050px;
	word-break:break-all;
	overflow: hidden;
}

#link_wrap{
	width: 700px;
	margin: 0 auto;
}

#list_link{
	list-style: none;
	padding: 20px;
	width: 400px;
	margin: 0 auto;
}
#list_link li{
	
	display: inline-block;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
	padding: 10px 0 10px;
}

.btn{
	margin: 10px;
	width:100px;
	height: 38px;
}